Django==5.2
gunicorn==23.0.0
python-dotenv==1.1.0
cloudinary==1.39.0
django-cloudinary-storage==0.3.0
crispy-bootstrap5==2025.4
django-crispy-forms==2.4
django-tinymce==4.1.0
whitenoise==6.9.0

# Optional / based on your use
openai==1.82.1
requests==2.32.3
pillow==11.2.1