{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row register-bg mt-5 ms-4" style="width: 30%;">
    <div>
        <h1>Sign In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Sign In</button>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </form>

        <div class="pt-3">
            <small class="text-muted">
                Need an account? <a href="{% url 'register' %}">Register</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}
