{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} <!-- Load crispy forms at the top -->

{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }} <!-- Use the crispy filter here instead of as_p -->

            <button type="submit" class="btn btn-primary">Register</button>

            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}