<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'index' %}">NewsByte</a>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <!-- Left side nav items  -->
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for category in categories %}
        <li class="nav-item text-white">
          <a class="nav-link text-white" href="{% url 'category-filter' category.id %}">{{ category.name }}</a>
        </li>
        <!-- Add more links as needed -->
         {% endfor %}
      </ul>

      <!-- Right side nav items -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item text-white">
            <form method="POST" action="{% url 'logout' %}" class="d-flex">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item text-white>
            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
          </li>
          <li class="nav-item text-white>
            <a class="nav-link" href="{% url 'register' %}">Sign up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
